---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PublicationCard from "@components/PublicationCard.astro";
import SocialIcons from "@components/SocialIcons.astro";
import Image from "astro/components/Image.astro";
import myImage from "../images/IMG_20210309_172631.jpg";
import { Picture } from "astro:assets";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const publications: CollectionEntry<"publications">[] = (
  await getCollection("publications")
)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PUBLICATIONS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold text-black dark:text-white">
        Hi there! 👋
      </h1>
      <div class="space-y-16">
        <section class="">
          <article class="float:left space-y-4 overflow-visible">
            <div class="flex-column sm:flex">
              <span class="animate">
                <p>
                  I am a PhD student at Northeastern University, working at the <Link
                    href="https://prl.khoury.northeastern.edu/"
                    >Programming Research Lab</Link
                  >. Largely, I work at the intersection of Distributed Systems
                  + Programming Languages + Testing.
                </p>
                <p>
                  I am currently working on developing static data-flow analysis
                  using CodeQL for Java programs to optimize performance in JVM.
                  I am also working on inferring type information in
                  WASM-generated JavaScript code. Recently, a fun thing I worked
                  on was compositional TLA+ specification for a custom Raft
                  implementation.
                </p>
              </span>
              <Image
                src={myImage}
                alt={"Me, circa 2021"}
                class="shadow-blue-gray-900/50 sm:mx-4 my-0 w-64 h-64 shadow-xl dark:shadow-white/5 rounded-full object-cover"
              />
            </div>
            <div class="inline-flex items-center justify-center w-full">
              <hr class="w-64 h-1 my-8 bg-brick-red/85 border-0 rounded dark:bg-gray-700">
              <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
                  <svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
              <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
            </svg>
              </div>
          </div>            <span class="animate">
              <p>
                Before this, I was a Research Fellow at Microsoft Research
                India, advised by <b>Dr. Akash Lal</b> and <b>Dr. Suman Nath</b
                >. There, I worked at the intersection of <b>AI + SE</b>,
                specifically using LLMs such as GPT* to generate reference
                implementations of RESTful APIs in C#, and use them for test
                generation. Before that, I worked with OpenTelemetry and dynamic
                binary instrumentation for zero-touch distributed tracing of
                .NET services.
              </p>
            </span>
            <span class="animate">
              <p>
                During my Bachelor Thesis, I visited the <Link
                  href="https://easelab.inf.ed.ac.uk/">EASE Lab</Link
                > at University of Edinburgh, advised by <b>Dr. Boris Grot</b>.
                There, I worked on Serverless computing, specifically creating a
                set of microbenchmarks for testing the performance of serverless
                platforms, <Link
                  href="https://github.com/vhive-serverless/vSwarm">vSwarm</Link
                >.
              </p>

              <p>
                I finished my Bachelors in Computer Science and Engineering at
                BITS Pilani, where I took a variety of courses relating to
                Networks, Operating Systems, and Parallel Computing.
              </p>
            </span>
          </article>
        </section>

        <section
          class="animate space-y-2 border-2 border-dashed border-red-800 p-2 text-red-800 dark:border-red-400 dark:text-red-400"
        >
          📢📢 Currently looking for summer internships for 2025!
        </section>

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Research Interests
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            <li>3D Vision</li>
            <li>AIGC</li>
          </ul>
        </section> -->

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">News</h2>
          </div>
          <ul
            class="not-prose scroll_bar flex max-h-[150px] flex-col gap-4 overflow-y-auto"
          >
            <li>
             [04/2025]: I attended ICSE 2025 at Ottawa as part of the SMeW Workshop.
            </li>
            <li>
             [02/2025]: I served as part of the AEC for OOPSLA 2025.
            </li>
            <li>
              [09/2024]: Joined Northeastern for a PhD, advised by <Link
                href="https://www.franktip.org/">Frank Tip</Link
              >.
            </li>
            <li>[08/2022]: Joined MSR as a Research Fellow!</li>
            <!-- <li>[06/2024]: Your <span class="text-red-600">News2</span></li> -->
            <!-- <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li> -->
          </ul>
        </section>

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent research
            </h2>
            <Link href="/publications"> See all research </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              publications.map((publication) => (
                <li>
                  <PublicationCard entry={publication} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <section class="animate space-y-6">
          <span class="animate">
            <h4 class="font-semibold text-black dark:text-white">
              Let's Connect
            </h4>
            <article>
              <p>
                If you want to get in touch with me about something or just to
                say hi, feel free to send me an email.
              </p>
            </article>
            <!-- <SocialIcons icon_size={"text-3xl"} /> -->
          </span>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
